# Exclude development files from Galaxy
.github/ export-ignore
molecule/ export-ignore
molecule-env/ export-ignore
requirements-dev.txt export-ignore
*.sh export-ignore
.molecule/ export-ignore
.cache/ export-ignore
requirements.yml export-ignore

# Keep only role essentials
defaults/ export
handlers/ export  
meta/ export
tasks/ export
templates/ export
vars/ export
README.md export
LICENSE export
