# Python
__pycache__/
*.py[cod]
*.pyo
*.pyc
.Python
env/
venv/
.venv/
molecule-env/

# Molecule
.cache/
.molecule/
.pytest_cache/

# Ansible
*.retry
.vault_pass

# Testing
*.tmp
*.log
.tox/

# IDEs
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db