[defaults]
# CRÍTICO: Incluir ./roles antes que las rutas de molecule
roles_path = ./roles:~/.ansible/roles:/usr/share/ansible/roles:/etc/ansible/roles:./

host_key_checking = False
stdout_callback = yaml
callbacks_enabled = profile_tasks, timer

[inventory]
enable_plugins = host_list, script, auto, yaml, ini, toml

[ssh_connection]
pipelining = True